body {
  padding: 0;
  margin: auto;
}

section {
  padding: 0;
}

.container {
  width: 375px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  position: relative;
}

header {
  height: 46px;
  color: #fff;
  background-color: #3c3a39;
  margin: 0;
  width: 100%;
  position: relative;
}

a {
  text-decoration: none;
  color: #fff;
}

nav {
  height: 100%;
  padding: 8px 14px;
  margin: 0;

  /* position: relative; */
}

header nav .toolbar {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  align-items: center;
}

.logo a {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}

.headline {
  background-color: #1c1a19;
  width: 100%;
  height: 60vh;
  padding-top: 120px;
  padding-bottom: 70px;
  margin: 0;
  position: relative;
  background-image: url(image/background_img/Illustration-header.svg);
  background-repeat: no-repeat;
  background-position: 125% 90%;
  background-size: 168px;
}

#bLinks {
  display: none;
}

h1,
h2 {
  font-size: 56px;
  line-height: 64px;
  color: #ff6b00;
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  letter-spacing: 0.376px;
  text-align: left;
  padding-left: 24px;
  padding-right: 24px;
}

h3 {
  font-family: 'crete Round', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: white;
}

.headline h2 {
  font-size: 24px;
  font-weight: 700;
  font-family: 'roboto', sans-serif;
  color: #fff5e1;
  line-height: 32px;
  padding-left: 24px;
  padding-right: 24px;
}

p {
  font-family: 'inter', sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  padding: 28px 12px 28px 4px;
}

.headline p {
  color: #fff5e1;
  font-family: 'poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

ul {
  list-style: none;
  padding-left: 0;
}

.headline ul {
  display: flex;
  margin-bottom: 100px;
}

.item ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

header nav .toolbar .links {
  display: none;
  justify-content: right;
  position: absolute;
  background-color: #3c3a39;
  right: 0;
  top: 20px;
  width: 100%;
  height: 80vh;
  padding: 18px 10px;
  z-index: 2;
  transition: all 0.5s ease-out;
  box-sizing: border-box;
}

.con-links li {
  padding: 0 10px;
}

.overlay-link li {
  border: 1px solid black;
  padding: 8px 12px;
  margin-right: 8px;
}

.overlay-page ul li {
  padding: 0;
}

.headline ul li {
  padding: 4px 8px;
  line-height: 39px;
}

.skill img {
  margin-right: 8px;
}

.over-btn img {
  margin-left: 14px;
}

.headline ul li img {
  height: 24px;
}

/* ---------------------overlay ---------------------- */
.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transform: scale(0);
  transition: all 0.2s ease-in;
}

/* .overlay.active{
  pointer-events: none;
} */
.overlay-content {
  position: relative;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-sizing: border-box;
  padding: 24px 14px;
  z-index: 2;
}

.overlay-header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  /* width: 80%; */
}

.overlay-link {
  display: flex;
}

.overlay h3,
.overlay p {
  color: #000;
}

.overlay .fa {
  font-size: 24px;
}

.over-btn {
  padding: 9px 16px;
  margin-right: 8px;
  height: 48px;
  display: inline-flex;
  background: #ff6b00;
}

/* -----------------work-section------------- */

.section-container {
  align-items: center;
  margin-bottom: 24px;
  background-color: brown;
}

hr {
  width: 80%;
}

.work-section-container {
  width: 85%;
  margin: auto;
  margin-bottom: 48px;
}

.work-section-container h2 {
  font-family: 'crete Round', sans-serif;
  text-align: center;
  display: flex;
  font-weight: 400;
  font-size: 38px;
  line-height: 52px;
  color: #1c1a19;
  width: 300px;
  margin: 154px auto 0;
}

.work-container {
  padding: 12px;
  margin: auto;
  row-gap: 50px;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

.item .write-up {
  padding-bottom: 30px;
  padding-top: 0;
}

.item {
  padding: 150px 0 0;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url("image/background_img/Img-Placeholder.png");
  background-position: center;
  background-size: contain;
}

.item h3 {
  max-width: 295px;
}

.contact h3 {
  color: #172b4d;
  width: 327px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.item .write-up h3 {
  margin-top: 0;
  color: #091e42;
  padding-top: 0;
}

.work-item-1 {
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  background-image: none;
}

.project-btn {
  display: block;
  padding: 12px 16px;
  width: 100%;
  color: #fff;
  background-color: #9c2200;
  text-align: center;
  font-size: 18px;
  transition: all 0.5s ease-out;
}

.work-item-1 .project-btn {
  display: inline;
}

#project-btn-1 {
  padding: 12px 16px;
  color: #fff;
  background-color: #9c2200;
  text-align: center;
  font-size: 18px;
  transition: all 0.5s ease-out;
  width: auto;
}

.project-btn:hover,
.project-btn-1:hover {
  background-color: #fff5e1;
  color: #9c2200;
  border: 1px solid #000;
}

.project-btn:active,
.project-btn-1:hover {
  background-color: #e05304;
}

.project-btn:disabled,
.project-btn-1:hover {
  background-color: #f4f1f0;
}

.write-up p {
  color: #000;
  font-weight: 500;
}

.write-up a,
.item a {
  text-decoration: none;
}

.item ul li {
  background-color: rgb(73, 73, 73);
  border: 1px solid rgb(202, 190, 190);
  padding: 8px;
  margin-right: 8px;
}

.res-btn a {
  color: #fff;
  text-decoration: none;
}

.item ul li a {
  color: #fff;
}

.overlay-page ul li a {
  font-size: 20px;
}

/* .item ul li a:focus{
  border: ipx solid black
} */

/* ------------- About me ---------------  */
.abt-sct {
  background-color: #1c1a19;
}

.about-section-container {
  padding: 0 12px 18px;
  background-image: url("image/background_img/backgroud _group/Group@2x.png");
  background-size: 148px;
  background-repeat: no-repeat;
  background-position: 100% 26%;
}

.about-me {
  padding: 0;
  margin-bottom: 240px;
}

.res-btn {
  display: flex;
  padding: 12px 16px;
  background-color: #900;
  font-size: 18px;
  color: #fff;
  font-family: "inter", sans-serif;
  font-weight: 700;
  line-height: 24px;
  align-items: center;
  text-align: center;
}

.res-btn:hover {
  background-color: #fff5e1;
  color: #9c2200;
}

.res-btn:focus {
  background-color: #900;
  color: #f4f1f0;
}

.res-btn:active {
  background-color: #fff5e1;
  color: #000;
}

.res-btn:disabled {
  background-color: #f4f1f0;
}

.about-me h2 {
  font-family: "crete Round", sans-serif;
  font-weight: 400;
  font-size: 60px;
  letter-spacing: 0.31px;
  line-height: 88px;
  margin-bottom: 12px;
}

section .skill-container {
  display: grid;
  grid-template-columns: auto;
}

.skill {
  text-align: center;
}

.about-section-container ul li {
  margin: 8px 0;
  padding: 8px 12px;
  width: 40%;
  transition: 0.3s;
}

.about-section-container ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.logo a:focus {
  outline-color: #f4f1f0;
}

.toolbar .links li a {
  font-size: 30px;
  font-weight: 700;
}

.item ul li:hover a {
  color: #3c3a39;
  transition: all 0.5s ease-out;
}

.social-links li:hover {
  background: #e05304;
  transition: all 1.5s ease-out;
  display: block;
}

.about-section-container ul li:hover {
  transform: translateX(10px);
}

.item ul li:hover {
  background-color: #fff;
  border: 1px solid gray;
}

.toolbar ul li a:hover {
  color: #e05304;
  transition: all 1s ease-in-out;
}

form {
  width: 327px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 190px;
}

header nav .toolbar .links li {
  padding: 18px 24px;

  /* background-color: red; */
  margin-bottom: 4px;
  border-bottom: 2px solid #fff;
}

header nav .toolbar .links li:last-child {
  display: none;
}

form .input {
  width: 100%;
  border-bottom: 1px solid #dbd8d7;
}

form .text-input {
  border: none;
}

input {
  width: 100%;
  margin: 16px 0 16px 0;
  padding: 12px 6px 12px;
  height: 18px;
  left: 16px;
  right: 16px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  border: none;
  display: flex;
  align-items: center;
}

textarea {
  width: 100%;
  height: 88px;
  margin: 16px 0 16px 0;
  padding: 12px 6px 12px;
  background: #fbf8f7;
  border: none;
}

.contact button {
  background: #9c2200;
  padding: 12px;
  width: 131px;
  height: 48px;
  margin: auto;
  font-style: normal;
  font-weight: 700;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
}

.contact button:hover {
  color: #900;
  background: #fff5e1;
  border: 1px solid #900;
  box-sizing: border-box;
}

.contact button:active {
  background-color: #9c2200;
  color: #fff;
}

.contact button:disabled {
  background-color: #f4f1f0;
}

.con-links {
  display: flex;
  justify-content: center;
}

/* ---------- desktop view----------------- */

@media (min-width: 768px) {
  .container {
    width: 100%;
    margin: auto;
  }

  nav {
    padding: 0;
    margin: 0;
  }

  header nav .toolbar {
    display: flex;
    padding: 0;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: auto;
    margin-left: 124px;
  }

  #bLinks {
    display: flex;
    height: 100%;
    justify-content: right;
    margin-top: 0;
    margin-bottom: 0;
    flex: 1;
    position: static;
    padding: 8px 16px;
    z-index: 0;
  }

  .con-links li {
    margin: 0% 10px;
  }

  .overlay .fa {
    font-size: 24px;
  }

  header nav .toolbar ul .fa {
    margin-bottom: 24px;
  }

  .overlay-link li {
    border: 1px solid black;
    padding: 8px 12px;
    margin-right: 8px;
  }

  header nav .toolbar ul li {
    display: block;
    align-items: center;
    padding: 8px 34px;
    margin-right: 12px;
    margin-bottom: 124px;
  }

  header nav .toolbar ul li::after {
    height: 3px;
    content: " ";
    width: 0%;
    display: block;
    margin: auto;
    transition: 0.3s;
    background-color: red;
  }

  header nav .toolbar ul li:last-child::after {
    display: none;
  }

  header nav .toolbar ul li:hover::after {
    width: 100%;
  }

  header nav .toolbar ul li a {
    color: #fff;
    text-decoration: none;
  }

  .menu-bar {
    display: none;
  }

  .headline {
    display: flex;
    padding-bottom: 150px;
    background-position: 100% 80%;
    background-size: 558px;
    animation-name: movebg;
    animation-duration: 3s;
  }

  @keyframes movebg {
    from {
      background-position: 100% 80%;
      opacity: 1;
    }

    to {
      background-position: 40% 80%;
      opacity: 0;
    }
  }

  .headline-body {
    width: 556px;
    padding-right: 400px;
    order: 99;
  }

  .headline-body h1 {
    width: 60%;
    margin-bottom: 0;
    margin-top: 0;
  }

  .headline-body p,
  .headline h3 {
    width: 75%;
  }

  .headline-body p {
    padding-top: 0;
  }

  .headlink {
    margin: 0 24px;
  }

  .headlink .social-links {
    display: block;
  }

  .work-container {
    padding-bottom: 128px;
    grid-template-columns: auto auto auto;
    gap: 3% 3%;
  }

  .item {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
  }

  .work-item-1 {
    grid-column: 1/4;
    padding-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .no-btn button {
    display: none;
  }

  .item:nth-child(2) {
    background-image: url(image/Img_Placeholder_2.svg);
    display: flex;
    position: relative;
    height: 450px;
  }

  .work-item-2 .project-btn {
    position: absolute;
    bottom: 0;
  }

  .item:hover .project-btn {
    display: block;
  }

  .item .project-btn:hover {
    background-color: #fff5e1;
    color: #900;
  }

  .box:hover {
    box-shadow: 0 0 20px 0 rgba(255, 107, 0, 0.2);
    transition: all 0.5s ease-out;
  }

  .item:nth-child(3) {
    background-image: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(image/Img_Placeholder_3.svg);
    height: 435px;
  }

  .item:nth-child(4) {
    background-image: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(image/Img_Placeholder_4.svg);
    height: 435px;
  }

  .item:nth-child(5) {
    background-image: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(image/Img_Placeholder_5.svg);
    height: 435px;
  }

  .item:nth-child(6) {
    background-image: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(image/Img_Placeholder_6.svg);
    height: 435px;
  }

  .item:nth-child(7) {
    background-image: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(image/Img_Placeholder_7.svg);
    height: 435px;
  }

  .work-item-1 img,
  .work-item-1 .write-up {
    flex-basis: 49%;
  }

  .item-display {
    display: none;
  }

  .abt-sct {
    margin-top: 0;
  }

  .work-section-container .heading {
    width: 90%;
    margin-left: 12px;
    display: flex;
    align-items: center;
  }

  .work-section-container .heading h2 {
    margin-right: 0;
    width: 365px;
  }

  .contact hr {
    width: 100%;
  }

  .work-section-container .heading hr {
    align-self: flex-end;
    margin-left: 0%;
    margin-top: 0;
    height: 3px;
    border: 1px solid #fff;
    background-color: #212121;
  }

  .section-container {
    background-image: url("image/background_img/desk_Group.svg");
    background-size: 508px;
    padding-top: 100px;
    background-position: 100% 12%;
    background-repeat: no-repeat;
  }

  .about-section-container {
    /* background-image: url("image/background_img/desk_Group.svg"); */
    background-image: none;
  }

  .about-me {
    margin: auto;
    width: 80%;
    margin-bottom: 120px;
  }

  .about-me p {
    width: 557px;
    font-size: 20px;
  }

  .about-me h1 {
    text-align: left;
  }

  section .skill-container {
    width: 80%;
    margin: auto;
    padding: 0;
    grid-template-columns: auto auto auto;
    column-gap: 2%;
  }

  .skill {
    padding-left: 0%;
    text-align: left;
  }

  .contact {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin: auto;
    text-align: left;
    justify-content: left;
  }

  .contact form {
    box-sizing: border-box;
    max-width: 680px;
    flex-basis: 60%;
  }

  .contact form button {
    margin-left: 0;
  }

  .contact h3 {
    text-align: left;
    flex-basis: 30%;
    line-height: 30px;
  }

  .con-links {
    text-align: center;
    margin: auto;
  }

  .item.work-item-1 ul li {
    background-color: transparent;
  }

  .item.work-item-1 ul li a {
    color: #091e42;
  }

  /* ---------------------overlay ---------------------- */
  .overlay-content {
    position: relative;
    height: 80%;
  }

  .overlay-header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    /* background-color: green; */
    width: 90%;
  }

  .overlay-link {
    display: flex;
  }

  .overlay-page {
    display: flex;
    justify-content: left;
    padding: 0;
    height: 570px;
  }

  .overlay-page .image {
    flex-basis: 50%;
    height: 100%;
    align-content: flex-start;
    text-align: left;
    background-color: #ff6b00;
  }

  .over-btn img {
    margin-left: 14px;
  }

  .overlay-page .image img {
    width: 100%;
    height: 100%;
    margin-left: 0;
  }

  .content {
    position: relative;
  }

  .overlay-page .content {
    flex-basis: 40%;
    padding-left: 24px;
    padding-top: 0;
  }

  .overlay h3 {
    /* background-color: blue; */
    flex: 1;
  }

  .overlay p {
    font-size: 16px;
    line-height: 26px;
    padding-top: 0%;
    margin-top: 0;
  }

  .overlay h3,
  .overlay p {
    color: #000;
  }

  .content ul {
    position: absolute;
    bottom: 0;
    display: flex;
  }

  .over-btn {
    padding: 9px 16px;
    height: 48px;
    display: inline-flex;
    align-items: center;
    background: #ff6b00;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
  }
}
