.container {
  width: 375px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}
section{
  padding: 0;
  
}

header {
  height: 46px;
  color: #fff;
  background-color: #3c3a39;
  margin: 0;
  width: 100%;
}

nav {
  height: 100%;
  padding: 8px 14px;
  margin: 0;
}

header nav .toolbar {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.logo a {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}

.headline {
  background-color: #1c1a19;
  width: 100%;
  padding-top: 120px;
  padding-bottom: 70px;
  margin: 0;
  position: relative;
}

 h1 {
  font-size: 56px;
  line-height: 64px;
  color: #ff6b00;
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  letter-spacing: 0.376px;
  text-align: left;
  padding-left: 24px;
  padding-right: 24px;
}

.headline h3 {
  font-size: 24px;
  font-weight: 700;
  font-family: 'roboto', sans-serif;
  color: #fff5e1;
  line-height: 32px;
  padding-left: 24px;
  padding-right: 24px;
}

.headline p {
  color: #fff5e1;
  font-family: 'poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 24px;
  padding-right: 24px;
}
ul{
  list-style: none;
  padding-left: 0;
}
.headline ul {
  display: flex;

  
  margin-bottom: 100px;
}

.headline ul li {
  padding: 4px 8px;
  line-height: 39px;
}

.headline ul li img {
  height: 24px;
}

/* -----------------work-section------------- */


.section-container{
 
  align-items: center;

  
  margin-bottom: 24px;
 

}
hr{
  width: 80%;
}
/* .work-section-container {
  padding-top: 12px;

} */
.work-section-container h2{
  font-family: 'crete Round', sans-serif;
  text-align: center;
  border: 1px solid black;
  font-weight: 400;
  font-size: 40px;
  color: #1C1A19;
  width: 300px;
  margin:  24px auto;

}
 h3{
  font-family: 'crete Round', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: white;
  

}
.work-container{
  padding-right: 12px;
  padding-left: 12px;
  padding-bottom: 10px;
  margin: auto;
  row-gap: 50px;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
 
}

.item .write-up {
   padding-bottom: 30px;
  
}
.item {
  padding:150px 0px 0;  
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url("image/background_img/Img-Placeholder.png");
  background-position: center;
  
  
}
.work-item-1{
  display: flex;
  flex-direction: column;
  background-image: none;
}
.work-item-1 .project-btn{
  display: inline;
  
}
.item h3{
   max-width: 295px;
}
 p{
  font-family: 'inter', sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  padding: 28px 12px 28px 4px;
}
.write-up p{
  color: #000;
  font-weight: 500;
  
}
.item ul{
  display: flex;
  list-style: none;
  
  padding-left: 0;
}
.item ul li{
    background-color: gray;
    border: 1px solid rgb(202, 190, 190);
    padding: 8px;
    margin-right: 8px;
       
}
.item ul li a{
  color: #fff;
}
.project-btn{
  display: block;
  padding: 12px 16px;
  width: 100%;
  color: #fff;
  background-color: #ff6b00;
  text-align: center;
  font-size: 18px;
 
}

/* ------------- About us ---------------  */
.about-section-container{
  padding: 0px 12px 18px;
  background-color: #3c3a39;
}
.about-me{
  padding: 0;
  background-color: #1C1A19;
 
}
.about-me h1{
  text-align: center;
}
.res-btn{
  display: inline;
  padding: 12px 16px;
  background-color: #ff6b00;
  font-size: 18px;
}
.res-btn a{
  color: #fff;
  text-decoration: none;
}
.about-me h1{
  font-family: "crete Round", sans-serif;
  font-weight: 400;
  font-size: 60px;
  letter-spacing: 0.31px;
  line-height: 88px;
  
  margin-bottom: 12px;
}
.about-section-container .skill-container{
  display: grid;
  grid-template-columns: auto;
}
.skill {
  text-align: center;
}
.about-section-container ul li{
   margin: 8px 0 ;
  padding: 8px 12px;
}
.about-section-container ul li a{
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}
.skill img{
  margin-right: 8px;
}
